---
import HamburguerMenuIcon from '@/components/icons/HamburguerMenuIcon.astro';
import InvisibleCharacter from '@/components/common/InvisibleCharacter.astro';
import SunIcon from '@/components/icons/SunIcon.astro';
import MoonIcon from '@/components/icons/MoonIcon.astro';

import { NAV_ITEMS } from '@/constants/navItems';
---

<script>
  const MD_BREAKPOINT: number = 768;

  function getReversePrefersColorScheme(): string {
    const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    return isDark ? 'light' : 'dark';
  }

  function handleResize() {
    const isDesktop = window.innerWidth >= MD_BREAKPOINT;

    if (isDesktop) {
      fullMenu!.style.display = 'flex';
      hamburgerMenu!.style.display = 'none';
    } else {
      fullMenu!.style.display = 'none';
      hamburgerMenu!.style.display = 'flex';
    }
  }

  const colorScheme = getReversePrefersColorScheme();
  const themeController: HTMLInputElement | null =
    document.querySelector('.theme-controller');

  themeController!.value = colorScheme;

  const sunIcon = document.getElementById('sunIcon');
  const moonIcon = document.getElementById('moonIcon');

  if (colorScheme === 'light') {
    sunIcon!.classList.add('swap-off');
    moonIcon!.classList.add('swap-on');
  } else {
    sunIcon!.classList.add('swap-on');
    moonIcon!.classList.add('swap-off');
  }

  const themeToggle = document.getElementById('themeToggle');
  themeToggle!.style.display = 'flex';

  const hamburgerMenu = document.getElementById('mobileMenu');
  const fullMenu = document.getElementById('desktopMenu');

  window.addEventListener('resize', handleResize);
  window.addEventListener('load', handleResize);
</script>

<header
  transition:persist
  class="fixed z-10 flex w-full justify-center md:pt-2"
>
  <nav
    class="navbar border-base-300 bg-base-200 md:max-w-screen-md md:rounded-xl"
  >
    <div class="ml-4 flex-1">
      <a href="/#" aria-label="home" class="smooth-scroll">
        <img
          width="145"
          height="50"
          src="/disneyland-california-logo.svg"
          alt="disneyland-california-logo"
          class="brightness-200"
        />
      </a>
    </div>

    <div class="mr-2 flex-none">
      <ul id="desktopMenu" class="menu menu-horizontal hidden px-0">
        <li id="navItems" class="flex-row">
          {
            NAV_ITEMS.map(({ url, label, text }) => (
              <a href={url} aria-label={label} class="smooth-scroll">
                {text}
              </a>
            ))
          }
        </li>
      </ul>

      <div id="mobileMenu" class="dropdown hidden px-0">
        <div tabindex="0" role="button" class="btn btn-circle btn-ghost">
          <HamburguerMenuIcon />
        </div>
        <ul
          tabindex="0"
          class="menu dropdown-content menu-sm z-[1] mt-10 w-24 rounded-box
          bg-base-100 p-2 shadow"
        >
          {
            NAV_ITEMS.map(({ url, label, text }) => (
              <li>
                <a href={url} aria-label={label} class="smooth-scroll">
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <ul id="themeToggle" class="menu hidden px-0">
        <li>
          <label for="theme-controller" class="swap swap-rotate">
            <InvisibleCharacter class="absolute" />
            <input
              type="checkbox"
              id="theme-controller"
              class="theme-controller"
            />
            <SunIcon id="sunIcon" />
            <MoonIcon id="moonIcon" />
          </label>
        </li>
      </ul>
    </div>
  </nav>
</header>
