---
import '@fontsource-variable/onest';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const THEMES: string[] = ['light', 'dark'];
---

<!doctype html>
<html lang="en" data-theme={THEMES[0]}>
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <style is:global>
      html {
        font-family: 'Onest Variable', system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
